server:
  port: 8085

# ?? ?? ?? (???? ?? ??)
logging:
  file:
    name: /app/logs/application.log

# Actuator ?? ?? ? ?? ??
management:
  server:
    port: 9090
  endpoints:
    web:
      exposure:
        include: "health,metrics,prometheus"
  endpoint:
    health:
      show-details: always
